.header {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto;
  padding: 1rem;

  .img {
    margin-bottom: 3rem;
    height: 20vh;
    width: 90%;
    position: relative;

    img {
      object-fit: contain;
    }
  }

  .headerTitle {
    padding-bottom: 2rem;
    text-align: center;
  }
}
