.cardKarens {
  position: relative;
  background: url('/images/card-background.jpg');

  .header,
  .body {
    margin-bottom: 1rem;
  }

  .header {
    max-width: 80%;
  }

  .precio {
    position: absolute;
    top: 240px;
    right: 20px;

    span {
      font-size: 1rem;
    }
  }
}

.cardCarlitos {
  @extend .cardKarens;

  // background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}
